# PostgreSQL Configuration
PGHOST=your_postgres_host
PGDATABASE=your_database_name
PGUSER=your_database_user
PGPASSWORD=your_database_password

# Django Configuration
SECRET_KEY=your_secret_key
DEBUG=True
ALLOWED_HOSTS=your_allowed_hosts

# API Configuration
api_secret=your_api_secret
cloud_name=your_cloud_name
api_key=your_api_key
secure=True
